{% include 'base.html.twig' %}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-xl">
            <h1 class="text-4xl font-bold tracking-tight text-primary sm:text-5xl md:text-6xl p-6">
                <span class="block">
                    Welcome to
                    <span class="text-accent">
                        Instabot
                    </span>
                    !
                </span>
            </h1>
            {% if not app.user %}
                <p class="py-6">
                    Please <a class="link" href="{{ path('app_login') }}">log in</a>
                     or <a class="link" href="{{ path('app_register') }}">create an account</a></p>
            {% endif %}

            {% if app.user %}
                {% if app.user.isVerified is same as false %}
                    <p class="py-6">You have an unconfirmed account. Please check your emails to activate it !</p>
                {% else %}
                    <p class="py-6">You are logged in as {{ app.user.email }}</p>
                    <a href="{{ path('app_logout') }}" class="link">Logout</a>

                    {{ dump(files) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
