{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    {% set driveToken = app.user.settings.googleDriveToken %}

    <div class="hero min-h-screen">
        <div class="min-w-[25%]">
            {{ form_start(settingsForm) }}

            <h1 class="text-4xl mb-5">{{ 'page.userSettings.title'|trans }}</h1>

            <div class="flex flex-col gap-5 mb-5">
                {{ form_row(settingsForm.googleDriveFolderId) }}

                {% if driveToken is same as '' or driveToken is same as null %}
                    <div class="flex flex-col gap-5 mb-5">
                        <p class="text-gray-700">Google Drive authorization</p>
                        <a class="btn btn-lg btn-accent" href="{{ path('app_google_authorize_request') }}">Authorize the
                            app</a>
                    </div>
                {% endif %}

                {{ form_row(settingsForm.instagramToken) }}
            </div>

            <div class="flex flex-col">
                <button type="submit" class="btn btn-lg btn-accent w-full">
                    {{ 'form.update.label'|trans }}
                </button>
            </div>
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}
